<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>MapEd | "Resource for Alternative Learning" </title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
  <!-- All HTML GOES HERE -->
<header>
  <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80" class="hero" alt="Heroimage">


  <div id="trans"></div>

  <h1 class="title">Map</h1>

  <h1 class="t2">Ed</h1>

  <h2 class="subt">Alternative Based Learning</h2>

</header>

<section>
  <h3 class="wwa wwa1">WHAT WE'RE ABOUT</h3>


  <p class="comdes"> With MapEd Alternative Based Learning, we are excited to offer a new way
        to discover your educational path; one that fits your situational needs
        opposed to a traditional 4 - year college. We understand the complexity
        and uniqueness of so many peoples living situation, regardless of your
        wage class, age, residency, and/or career path, with MapEd we can find
        the right Alternative Based Learning program for you! </p>
 </section>


    <section class="tabwords">
      <div class="img">
      <img class="dude" alt="" src="https://media2.giphy.com/media/J0D0SAmNsK3G7OOoqK/giphy.gif">
      </div>
      <div class="tab">
        <button id="tablinkpro"  class="tablinks">
          Our Impact
        </button>
        <button id="tablinkimp" class="tablinks">
          How It Works?
        </button>
        <button id="tablinkcon" class="tablinks">
          Contact Us
        </button>
      </div>
      <div class="words">
      <div id="profile">
        <p class="info"> By extending various
            learning opprotunities through our platform, we advocate for those
            who would decide to take control of their own education. Our
            responsibility is to support those students and provide assistance.
            Studies show that the average college student in North Carolina is
            around $30,000 in student loan debt and our mission is to reduce
            those numbers and provide access and information about more affordable education.
            <br>
            <br>
            <img class="stats" alt="Total Debt in the U.S." src="https://www.usnews.com/media/education/best-colleges/paying-for-college/see-10-years-of-average-student-loan-debt">
        </p>
      </div>

      <div id="impact" class="tabcontent">
        <p class="info">MapEd allows you to simply select one of the prompted
            regions in which you reside,(Charlotte, Concord, Greensboro or Winston-Salem) then our map below map will highlight many of the different organization and programs in your
            area that serve as an alternative to college.
            <br>
            <br>
            You can zoom in and out, select other regions, and seamlessly
            explore the area where you would potentially apply find your next
            opprotunity.
            <br>
            <br>
            <img class="mapgif" alt="mapgif" src="https://i.pinimg.com/originals/d7/ae/01/d7ae0170d3d5ffcbaa7f02fdda387a3b.gif">
           </p> 
      </div>

      <div id="contact" class="tabcontent">
        <p class="info"> The way MapEd works, you would simply select one of the prompted
            regions in which you reside, then our map below map will highlight
            many of the different Alternative Based Learning programs in your
            area. You can zoom in and out, select other regions, and seamlessly
            explore the area where you would potentially apply find your next
            opprotunity. Contact MapEd 24/7 via phone or email at: </p>
            <br>
             <p class="diffc">Phone: 1-(800)-DEBTWHO
            <br>
             Email: cancelstudentdebt@mapEd.com
             <br>
             <br>
             <img class="emailus" src="https://thumbs.gfycat.com/NegligiblePaltryCorydorascatfish-small.gif">
            </p>
          </div>
      </div>
    </section>
  <section class="maparea">
       
    <h3 class="wwa">CHOOSE YOUR CITY</h3>

    <div class="bc">
    <button class="buttons" id="Charlotte">Charlotte</button>
    <button class="buttons" id="Concord">Concord</button>
    <button class="buttons" id="Greensboro">Greensboro</button>
    <button class="buttons" id="Winston-Salem">Winston-Salem</button>

    </div>

    <div class="themap">
    <div id="map"></div>
    </div>
    
    
  </section>

  <footer>
     <div class="box">


      <!-- Left side -->
  <div class="b1">
      <div class="compw">
      <h1 class="bw">Map</h1>
      <h1 class="bw2">Ed</h1>
      </div>

  </div>

<!-- Middle -->

<div class="b2">


    <form>
      <fieldset>
    
      <h2 class="join">Join Our Newsletter</h2>
      <h3 class="joinsub">Sign up to stay up to date on events, 
      <br>
      new alternative opportunities and more!</h3>

      <aside class="words"></aside>
            
        <input type="text" name="name" placeholder="Your Email" required>
        <input type="text" name="name" placeholder="First Name" required>
        <input type="text" name="name" placeholder="Last Name" required>
       

        <button type="submit" value="Subscribe" class="nb">Subscribe</button>


      </fieldset>


    </form>
   
</div>

<!-- Right Side -->

<!--       Social Icons       -->
<aside= class="icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <a href="https://twitter.com/" class="fa fa-twitter"></a>
  <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
  <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
  </aside>


</div>
  </footer>




<!-- STOP HERE -->
<!-- Section for map and Javascript code -->
<!-- All  JS Code for the map * PLEASE BE CAUTIOUS!!!!!!! *  -->
<script>
    // All code for map including mapping points/markers
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJ0ZWF3cmlnaHQiLCJhIjoiY2tpcnAxa2VsMDQ2bjJ6bXBsaThvdjZvOSJ9.mLHXES8nN_N2wS3wdK4tQw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [-80.843124, 35.227085],
zoom: 8
});
 
map.on('load', function () {
map.loadImage(
'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
// Add an image to use as a custom marker
function (error, image) {
if (error) throw error;
map.addImage('custom-marker', image);
 
// Add all the location of the points with their descriptions 
map.addSource('places', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
{
    // Road to Hire
'type': 'Feature',
'properties': {
'description':
'<strong>Road to Hire</strong><p>1101 Red Ventures Dr, Fort Mill, SC 29707</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.84604433137838,
35.006360489385095]
}
},
{
    // Charlotte Works
'type': 'Feature',
'properties': {
'description':
'<strong>Charlotte Works</strong><p>11301 Carmel Commons Blvd Suite 301, Charlotte, NC 28226  </p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.84465104486775,
35.084469949333936]
}
},
{
     // Aviation Institute of Maintenance
'type': 'Feature',
'properties': {
'description':
'<strong>Aviation Institute of Maintenance</strong><p> 7421 E Independence Blvd, Charlotte, NC 28227 </p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.73646013137414,
35.16188764531043]
}
},
{
      // Beatties Ford Rd Vocational Center
'type': 'Feature',
'properties': {
'description':
'<strong>Beatties Ford Rd Vocational Center</strong><p> 1406 Beatties Ford Rd, Charlotte, NC 28216</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.85541163137157,
35.25651879866277]
}
},
{
    // Carolina School of Broadcasting
'type': 'Feature',
'properties': {
'description':
"<strong>Carolina School of Broadcasting</strong><p>3435 Performance Rd, Charlotte, NC 28214</p>"
},
'geometry': {
'type': 'Point',
'coordinates': [-80.98395227369924,
35.256010438779754]
}
},
{
     // MyComputerCareer
'type': 'Feature',
'properties': {
'description':
'<strong>MyComputerCareer</strong><p> 3701 Arco Corporate Dr #500, Charlotte, NC 28273</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.94832663137447,
35.15078234399977]
}
},
{
     // Urban League of Central Carolinas
'type': 'Feature',
'properties': {
'description':
'<strong>Urban League of Central Carolinas</strong><p>740 W 5th St, Charlotte, NC 28202</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.84862721423002,
35.23641103817398]
}
},
{
     // NC Works Career Center
'type': 'Feature',
'properties': {
'description':
"<strong>NC Works Career Center</strong><p>7140 Forest Point Blvd Suite A, Charlotte, NC 28217 </p>"
},
'geometry': {
'type': 'Point',
'coordinates': [-80.90025991602992,
35.1429078635253]
}
},
{
    // Global Vocation Training Center
'type': 'Feature',
'properties': {
'description':
'<strong>Global Vocation Training Center</strong><p>4921 Albemarle Rd #203, Charlotte, NC 28212</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.76447963137309, 35.201561617997484]
}
},
{
     // The Dental Assistant Academy of Charlotte
'type': 'Feature',
'properties': {
'description':
'<strong>The Dental Assistant Academy of Charlotte</strong><p>3707 Latrobe Dr #420, Charlotte, NC 28211</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.79604861632036,
35.19608565931605]
}
},
{
     // Dale Carnegie Training
'type': 'Feature',
'properties': {
'description':
'<strong>Dale Carnegie Training</strong><p>837 Tanglewood Dr NE, Concord, NC 28025</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.59161154514887,
35.448295483716805]
}
},
{
     // ATP Flight School
'type': 'Feature',
'properties': {
'description':
'<strong>ATP Flight School</strong><p>9101 Aviation Blvd NW, Concord, NC 28027</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.71328391816957,
35.38677895696656]
}
},
{
     // New Horizons Computer Learning Centers
'type': 'Feature',
'properties': {
'description':
'<strong>New Horizons Computer Learning Centers</strong><p>7017A, Albert Pick Rd, Greensboro, NC 27409</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-79.94516835861944,
36.074413427362394]
}
},
{
     // Flight Attendant Training Program at Triad Aviation Academy
'type': 'Feature',
'properties': {
'description':
'<strong>Flight Attendant Training Program at Triad Aviation Academy</strong><p>1030 PTI Dr, Greensboro, NC 27409</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-79.94362461629152,
36.09940937058622]
}
},
{
     // Piedmont Flight Training
'type': 'Feature',
'properties': {
'description':
'<strong>Piedmont Flight Training</strong><p>3789 N Liberty St, Winston-Salem, NC 27105</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.22989724512678,
36.137801301833875]
}
},
{
     // NCWorks Career Center
'type': 'Feature',
'properties': {
'description':
'<strong>NCWorks Career Center - Forsyth County</strong><p>2701 University Pkwy, Winston-Salem, NC 27105</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.25752376047302,
36.12517953249578]
}
},
{
     // NCWorks Career Center
'type': 'Feature',
'properties': {
'description':
'<strong>NCWorks Career Center - Forsyth County</strong><p>2701 University Pkwy, Winston-Salem, NC 27105</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.25752376047302,
36.12517953249578]
}
},
]
}
});
 
// Add a layer showing the markers.
map.addLayer({
'id': 'places',
'type': 'symbol',
'source': 'places',
'layout': {
'icon-image': 'custom-marker',
'icon-allow-overlap': true
}
});
}
);
 
// Create a popup
var popup = new mapboxgl.Popup({
closeButton: false,
closeOnClick: false
});
 
map.on('mouseenter', 'places', function (e) {
// Change the cursor style to pointer.
map.getCanvas().style.cursor = 'pointer';
 
// location and descirption variables 
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;
 
// makes the points visible even if zoomed out 
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
// Popup is set to its coordinates based on the feature found.
popup.setLngLat(coordinates).setHTML(description).addTo(map);
});
 
// mouse out event to get rid of pointer style cursor
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
popup.remove();
});
});

// functions to manipulate tabs in html code 
document.getElementById('tablinkimp').addEventListener('click', function(){
    document.getElementById("profile").style.display = "none";
    document.getElementById("contact").style.display = "none";
    document.getElementById("impact").style.display = "block";
})

document.getElementById('tablinkcon').addEventListener('click', function(){
    document.getElementById("impact").style.display = "none";
    document.getElementById("profile").style.display = "none";
    document.getElementById("contact").style.display = "block";
})

document.getElementById('tablinkpro').addEventListener('click', function(){
    document.getElementById("contact").style.display = "none";
    document.getElementById("impact").style.display = "none";
    document.getElementById("profile").style.display = "block";
})

// fucntion to manipulate map using buttons 
var isAtStart = true;

document.getElementById('Concord').addEventListener('click', function () {
    var start = [-80.843124, 35.227085];
    var end = [-80.579514, 35.408752];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.7,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

document.getElementById('Greensboro').addEventListener('click', function () {
    var start = [-80.579514, 35.408752];
    var end = [-79.766235, 36.044659];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.5,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

document.getElementById('Winston-Salem').addEventListener('click', function () {
    var start = [-79.766235, 36.044659];
    var end = [-80.244217, 36.099861];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.5,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

document.getElementById('Charlotte').addEventListener('click', function () {
    var start = [-80.244217, 36.099861];
    var end = [-80.843124, 35.227085];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.7,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

</script>
 
</body>
</html>
