<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>MapEd | "Resource for Alternative Learning" </title>
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.js"></script>
<link rel="stylesheet" href="/css/main.css">
<link href="https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css" rel="stylesheet" />
</head>
<body>
  <!-- All HTML GOES HERE -->
<header>
  <img src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1351&q=80" class="hero" alt="Heroimage">


  <div id="trans"></div>

  <h1 class="title">Map</h1>

  <h1 class="t2">Ed</h1>

  <h2 class="subt">Alternative Based Learning</h2>

</header>

<section>
  <h3 class="wwa wwa1">WHAT WE'RE ABOUT</h3>


  <p class="comdes">

    At vero eos et accusamus et iusto odio dignissimos ducimus qui <br>blanditiis praesentium 
    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque 
    nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et 
    voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat
    
</p>


<img src="https://images.unsplash.com/photo-1507537297725-24a1c029d3ca?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" class="dude"> 

    <aside>
      <div class="tab">
        <button id="tablinkpro"  class="tablinks">
          Impact
        </button>
        <button id="tablinkimp" class="tablinks">
          How It Works 
        </button>
        <button id="tablinkcon" class="tablinks">
          Contact 
        </button>
      </div>

      <div id="profile">
        <p class="info">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br>blanditiis praesentium 
      voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
      similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque 
      nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et 
      voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
      </div>

      <div id="impact" class="tabcontent">
        <p class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p> 
      </div>

      <div id="contact" class="tabcontent">
        <p class="info">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? </p>
      </div>
    </aside>


  </section>
  <section>
       
    <h3 class="wwa">CHOOSE YOUR CITY</h3>
    <button id="Charlotte">Charlotte</button>
    <button id="Concord">Concord</button>
    <button id="Greensboro">Greensboro</button>
    <button id="Winston-Salem">Winston-Salem</button>

    <div id="map"></div>
    
    <p class="btm">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br>blanditiis praesentium 
    voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
    similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque 
    nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et 
    voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. </p>
  </section>

  <footer>
     <div class="box">


      <!-- Left side -->
  <div class="b1">
      <div class="compw">
      <h1 class="bw">Map</h1>
      <h1 class="bw2">Ed</h1>
      </div>

<!--       Social Icons       -->
      <aside class="icons">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <a href="https://twitter.com/" class="fa fa-twitter"></a>
      <a href="https://www.youtube.com/" class="fa fa-youtube"></a>
      <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
      </aside>
  </div>

<!-- Middle -->

<div class="b2">

  <section class="column"></section>
    <form>
      <fieldset></fieldset>
    
      <h2 class="join">Join Our Newsletter</h2>
      <h3 class="joinsub">Sign up to stay up to date on events, 
      <br>
      new alternative opportunities and more!</h3>
      <aside class="words"></aside>
            <p>
                Lorem ipsum text about why you should subscribe to our newsletter
                blabla. Lorem ipsum text about why you should subscribe to our
                newsletter blabla.
            </p>
        <label for="name"></label>
        <input type="text" name="name" placeholder="Your Name" required>
        <section class="lower">
        <label for="email"></label>
        <input type="email" name="email" placeholder="Your Email" required>
        </section>
        <label for="message"> Weekly Newsletter</label>
        <input type="checkbox" checked="checked" name="message">
        <button type="submit" value="Subscribe">Subscribe</button>
    </form>
   
</div>

<!-- Right Side -->

<div class="b3">

  <p class="white">At vero eos et accusamus et iusto odio dignissimos ducimus qui <br>blanditiis praesentium 
      voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, 
      similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque 
      nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et 
      voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat</p>

</div>


</div>
  </footer>




<!-- STOP HERE -->
<!-- Section for map and Javascript code -->
<!-- All  JS Code for the map * PLEASE BE CAUTIOUS!!!!!!! *  -->
<script>
    // All code for map including mapping points/markers
    mapboxgl.accessToken = 'pk.eyJ1IjoiYXJ0ZWF3cmlnaHQiLCJhIjoiY2tpcnAxa2VsMDQ2bjJ6bXBsaThvdjZvOSJ9.mLHXES8nN_N2wS3wdK4tQw';
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [-80.843124, 35.227085],
zoom: 10
});
 
map.on('load', function () {
map.loadImage(
'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
// Add an image to use as a custom marker
function (error, image) {
if (error) throw error;
map.addImage('custom-marker', image);
 
// Add all the location of the points with their descriptions 
map.addSource('places', {
'type': 'geojson',
'data': {
'type': 'FeatureCollection',
'features': [
{
    // Road to Hire
'type': 'Feature',
'properties': {
'description':
'<strong>Road to Hire</strong><p>1101 Red Ventures Dr, Fort Mill, SC 29707</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.84604433137838,
35.006360489385095]
}
},
{
    // Charlotte Works
'type': 'Feature',
'properties': {
'description':
'<strong>Charlotte Works</strong><p>11301 Carmel Commons Blvd Suite 301, Charlotte, NC 28226  </p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.84465104486775,
35.084469949333936]
}
},
{
     // Aviation Institute of Maintenance
'type': 'Feature',
'properties': {
'description':
'<strong>Aviation Institute of Maintenance</strong><p> 7421 E Independence Blvd, Charlotte, NC 28227 </p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.73646013137414,
35.16188764531043]
}
},
{
      // Beatties Ford Rd Vocational Center
'type': 'Feature',
'properties': {
'description':
'<strong>Beatties Ford Rd Vocational Center</strong><p> 1406 Beatties Ford Rd, Charlotte, NC 28216</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.85541163137157,
35.25651879866277]
}
},
{
    // Carolina School of Broadcasting
'type': 'Feature',
'properties': {
'description':
"<strong>Carolina School of Broadcasting</strong><p>3435 Performance Rd, Charlotte, NC 28214</p>"
},
'geometry': {
'type': 'Point',
'coordinates': [-80.98395227369924,
35.256010438779754]
}
},
{
     // MyComputerCareer
'type': 'Feature',
'properties': {
'description':
'<strong>MyComputerCareer</strong><p> 3701 Arco Corporate Dr #500, Charlotte, NC 28273</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.94832663137447,
35.15078234399977]
}
},
{
     // Urban League of Central Carolinas
'type': 'Feature',
'properties': {
'description':
'<strong>Urban League of Central Carolinas</strong><p>740 W 5th St, Charlotte, NC 28202</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.84862721423002,
35.23641103817398]
}
},
{
     // NC Works Career Center
'type': 'Feature',
'properties': {
'description':
"<strong>NC Works Career Center</strong><p>7140 Forest Point Blvd Suite A, Charlotte, NC 28217 </p>"
},
'geometry': {
'type': 'Point',
'coordinates': [-80.90025991602992,
35.1429078635253]
}
},
{
    // Global Vocation Training Center
'type': 'Feature',
'properties': {
'description':
'<strong>Global Vocation Training Center</strong><p>4921 Albemarle Rd #203, Charlotte, NC 28212</p>'
},
'geometry': {
'type': 'Point',
'coordinates': [-80.76447963137309, 35.201561617997484]
}
}
]
}
});
 
// Add a layer showing the markers.
map.addLayer({
'id': 'places',
'type': 'symbol',
'source': 'places',
'layout': {
'icon-image': 'custom-marker',
'icon-allow-overlap': true
}
});
}
);
 
// Create a popup
var popup = new mapboxgl.Popup({
closeButton: false,
closeOnClick: false
});
 
map.on('mouseenter', 'places', function (e) {
// Change the cursor style to pointer.
map.getCanvas().style.cursor = 'pointer';
 
// location and descirption variables 
var coordinates = e.features[0].geometry.coordinates.slice();
var description = e.features[0].properties.description;
 
// makes the points visible even if zoomed out 
while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
}
 
// Popup is set to its coordinates based on the feature found.
popup.setLngLat(coordinates).setHTML(description).addTo(map);
});
 
// mouse out event to get rid of pointer style cursor
map.on('mouseleave', 'places', function () {
map.getCanvas().style.cursor = '';
popup.remove();
});
});

// functions to manipulate tabs in html code 
document.getElementById('tablinkimp').addEventListener('click', function(){
    document.getElementById("profile").style.display = "none";
    document.getElementById("contact").style.display = "none";
    document.getElementById("impact").style.display = "block";
})

document.getElementById('tablinkcon').addEventListener('click', function(){
    document.getElementById("impact").style.display = "none";
    document.getElementById("profile").style.display = "none";
    document.getElementById("contact").style.display = "block";
})

document.getElementById('tablinkpro').addEventListener('click', function(){
    document.getElementById("contact").style.display = "none";
    document.getElementById("impact").style.display = "none";
    document.getElementById("profile").style.display = "block";
})

// fucntion to manipulate map using buttons 
var isAtStart = true;

document.getElementById('Concord').addEventListener('click', function () {
    var start = [-80.843124, 35.227085];
    var end = [-80.579514, 35.408752];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.7,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

document.getElementById('Greensboro').addEventListener('click', function () {
    var start = [-80.579514, 35.408752];
    var end = [-79.766235, 36.044659];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.5,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

document.getElementById('Winston-Salem').addEventListener('click', function () {
    var start = [-79.766235, 36.044659];
    var end = [-80.244217, 36.099861];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.5,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

document.getElementById('Charlotte').addEventListener('click', function () {
    var start = [-80.244217, 36.099861];
    var end = [-80.843124, 35.227085];
    var target = isAtStart ? end : start;
    isAtStart = !isAtStart;

    map.flyTo({
        center: target,
        zoom: 9,
        bearing: 0,
        speed: 0.7,
        curve: 1, 
        easing: function (t) {
        return t;
},
essential: true
});
});

</script>
 
</body>
</html>