/* Stylesheet is linked. Here's a test: */
* {
    font-family: 'Open Sans', sans-serif;
}
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #ffecce;
}
footer{ 
    background-color: #de795b;
}

.hero{
    width: 100%;
    box-shadow: 3px 2px 7px 2px grey;
}

.logo {
    background-color: transparent;
    height: 110px;
    width: 110px;
    position: absolute;
    left: 40px;
    margin-top: 20px;
}

/* Company Name & Subtitle */

.title{
    color: #ffecce;
    margin-top: -270px;
    margin-left: 40px;
    font-size: 130px;
}

.t2{
    color: #de795b;
    margin-top: -265px;
    margin-left: 305px;
    font-size: 130px;
}


.subt{
    color: #de795b;
    margin-top: -100px;
    margin-left: 10px;
    font-size: 50px;
}


/* What We're Abt */


.wwa{
    font-size: 50px;
    text-align: center;
    color: #3c4059;
}


.wwa1{
    color: #de795b;
    margin-top: 130px;
}



.comdes{
    color: #3c4059;
    font-size: 18px;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20PX;
    margin-bottom: 70px;
}

.img{
    width: 50%;
}

.dude{
    height: 490px;
    width: 79%;
    margin-left: 40px;
    box-shadow: 1px 1px 9px 1px grey;
    margin-bottom: 60px;
}


/* About Us Tabs */
.tabwords {
    width: 100%;
    margin-top: 9%;
}

.tab {
    position: absolute;
    top: 175%;
    right: 14%;
    width: 30%;
    float: right;
    text-align: center;
    overflow: hidden;
    background-color: #f1f1f1;
    opacity: 85%;
    box-shadow: 1px 1px 9px 1px grey;
}
  
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 6px;
    transition: 0.3s;
    font-size: 17px;
}
  
.tab button:hover {
    background-color: #de795b;
    opacity: 90%;
    text-decoration: none;
}
  
.tab button:active {
    background-color:#de795b;
}
  
.tabcontent {
    display: none;
    text-align: center;
    padding: 6px 12px;
    border-top: none;
    /* margin-top: -310px;
    margin-right: 40px; */
    background-color: transparent;
}


.diffc{
    color: #de795b;
    text-align: center;
}

.stats {
    width: 375px;
    height:275px;
}

.mapgif{
    width: 375px;
    height: 275px;
}

.emailus {
    width: 275px;
    height: 175px;
}

#profile {
    position: absolute;
    top: 180%;
    left: 47%;
    width: 46%;
    text-align: right;
    padding: 6px 12px;
    border-top: none;
    background-color: transparent;
}

#impact {
    position: absolute;
    top: 180%;
    left: 47%;
    width: 46%;
    display: none;
}

#contact {
    position: absolute;
    top: 180%;
    left: 47%;
    width: 46%;
    display: none;
}

.info{
      color: #3c4059;
    font-size: 15px;  
    text-align: center;
}


/* Cities */


.buttons{
text-align: center;
    color:#de795b ;
    background-color: transparent;
border: none;
font-size: 20px;
margin-right: 40px;
}
  

button:hover {
    opacity: 70%;
    cursor: pointer;
text-decoration:underline;

}



.bc{
text-align: center;
margin-bottom: 50px;
}



#map{
margin-left: auto;
margin-right: auto;
margin-bottom: 120px;
}




/* 

    .ft{
        color: #ffecce;
        margin-top: -270px;
        margin-left: 40px;
        font-size: 50px;
    }
  
    .ft2{
      color: #3c4059;
      margin-top: -265px;
      margin-left: 305px;
      font-size: 50px;
    } */



/* Footer */



.box {
        background-color: #de795b;
        height: 170px;
        display: grid;
    grid-template-columns: 3fr 3fr 3fr;
/* justify-content: space-around;   */
    font-size: 10px;


    }

.b1{
    font-size: 7px;

}

    

.b3{
    text-align: right;  
    font-size: 7px;
}


.join{
    margin-top: 10px;
    font-size: 17px;
    color: #3c4059;
    text-align: center;
}

.joinsub{
    font-size: 7px;
    margin-top: -12px;
    margin-bottom: 10px;
    color: #3c4059;
    text-align: center;
}

fieldset{
text-align: center;
border: none;
margin-top: -2px;
}

input[type=text] {
    text-align: center;
    background-color: #e8e8e8;
    width: 50%;
    height: 1px;
    padding: 10px 10px;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    color: #301e20;
    border-color:white;
     border-radius: 4px;  
     font-size:10px;
     border: none;
     color: #3c4059;
     margin-right: 10px;

  }




button[type=submit] {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-top: 5px;
    font-size: 8px;
    border-radius: 3px;
    background-color: #ffecce;
    color: #de795b;
    padding: 2px 10px;
    border: none;
}


button[type=submit]:hover{
    opacity: 80%;
    cursor: pointer;
    text-decoration: none;
}




.compw{
text-align: center;
margin-right: 70px;
margin-top: 50px;
}



.bw{
    color: #ffecce;
        font-size: 45px;
}

.bw2{
    color: #3c4059;
    margin-top: -90px;
    margin-left: 145px;
      font-size: 45px;
}


    /* Social Media */
    
    
    /* .icons a{
    color:#3c4059;
    margin-top: 6px;
    margin-right: 60px;
    text-decoration: none;
    } */
    
.icons{
    text-align: center;
    width: 100%;
    font-size:20px;
    margin-top: 65px;
}
    
    
.icons a{
    text-decoration:none;
    color:#3c4059;
    font-size:35px;
    margin-left: 30px;
}


.icons a:hover{
    opacity: 80%;
}
    
    
/* All Styling for the map */
.themap{
    width: 100%;
    margin-bottom: 2%;
}
#map { 
    margin: auto;
    width: 90%;
    height: 500px;
}
.mapboxgl-popup {
max-width: 400px;
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


